<section>
  <div id="profile_index" class="top">
    <div class="container form-inline">
      <%= form_tag(profiles_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search profiles", :class=>"form-control search" %>
      <%= submit_tag "Search", :class=>"btn btn-primary" %>
      <% end %>

      <% if @profiles.present? %><br><br>
        <div id="profiles_results">
          <% for profile in @profiles do %>
            <div class="row">
              <div class="col-xs-6 col-xs-offset-1">
                <div class="card">
                  <div class="card-block">
                    <%= image_tag "default_profile.jpg", :width => 50 %><br><br>
                    <p class="card-text">
                      <b><%= link_to profile.user.first_name, profile_path(profile.user_id) %>
                      <%= link_to profile.user.last_name, profile_path(profile.user_id) %> </b><br>
                      <small><%= profile.city %>,
                      <% if ! profile.state.blank? %>
                        <%= profile.state %>,
                      <% end %><%= profile.country %></small><br>
                    <div><b class="card-title">Occupation: </b><%= profile.occupation %></div><br>
                    <%= link_to "View", profile_path(profile.user_id)  , class: "btn btn-info" %>
                  </p><hr/>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <!-- uses the will_paginate bootstrap gem -->
          <%= will_paginate @jobs, renderer: BootstrapPagination::Rails%>
        </div>
      <% else %>
        <p>There are no profiles containing the term(s) <%= params[:search] %>.</p>
      <% end %>
    </div>
  </div>
</section>
