<section>
  <div id="jobs_index">
    <div class="container">
      <%= form_tag(jobs_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Enter keywords" %>
      <%= submit_tag "Search" %>
      <% end %>

      <% if @jobs.present? %><br><br>
        <div id="jobs_results">
          <% for job in @jobs do %>
            <div class="row">
              <div class="col-xs-4">
                <%= image_tag "briefcase.jpg", :width => 40 %>
              </div><br><br>
              <div class="col-xs-8 col-xs-offset-1">
                <div class="card">
                  <div class="card-block">
                    <p class="card-text">
                      <b><%= fa_icon "briefcase", :class => 'fa-icon' %> Company: <%= job.company_id %></b><br><br>
                      <small><%= job.company.city %>,
                      <% if ! job.company.state.blank? %>
                        <%= job.company.state %>,
                      <% end %><%= job.company.country %></small><br>
                    <div><b class="card-title">Title: </b><%= link_to job.title, job_path(job.id) %></div><br>
                    <div><b>Category: </b><%= job.category %></div></p><hr/>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>There are no jobs containing the term(s) <%= params[:search] %>.</p>
      <% end %>
    </div>
  </div>
</section>
