<div class="top col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @job.title %></h3><br>
      <p><b> Company: </b><%= link_to @job.company.name, company_path(@job.company) %>
        <span class="image">
          <% if ! @job.company.logo.blank? %>
            <%= image_tag @job.company.logo, :width => 40   %>
          <% else %>
            <%= image_tag "briefcase.jpg", :width => 40 %>
          <% end %>
        </span>
      </p>
      <div><b>Category: </b><%= @job.category %></div>
      <small><%= @job.city %>,
      <% if ! @job.state.blank? %>
        <%= @job.state %>,
      <% end %><%= @job.country %></small>
    </div>
    <div class="panel-body">
      <div><b>Description: </b><%= @job.description %></div>
    </div>
    <div class="panel-footer">
      <b>Contact Information</b><br><br>
      <div><%= fa_icon "envelope", :class => 'fa-icon' %>  <u><%= mail_to @job.email %></u></div>
      <br>
      <div><%= fa_icon "phone", :class => 'fa-icon' %>  <%= @job.phone_number %></div>
    </div>
  </div>
</div>
<% if current_user == @user%>
  <div class="row">
    <div class="col-md-4 col-md-offset-3">
      <%= button_to "Edit", edit_job_path(@job), method: :get, class:"btn btn-warning" %>
    </div>
    <div class="col-md-4 col-md-offset-1">
        <%= button_to "Delete", job_path(@job), method: :delete, class:"btn btn-danger",
         data:{confirm: "Are you sure you want to delete this job post?"} %>
    </div>
  </div>
<% end %>
