<div id="job_show" class="top">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <%= image_tag "briefcase.jpg", :width => 150 %>
        </div>
        <div class="col-xs-6">
          <div class="card">
            <div class="card-block">
              <h3 class="card-title">Title: <%= @job.title %></h3>
              <div><b>Category: </b><%= @job.category %></div>
              <small><%= @job.city %>,
              <% if ! @job.state.blank? %>
                <%= @job.state %>,
              <% end %><%= @job.country %></small>
              <hr/>
              <div><b>Description: </b><%= @job.description %></div><br>
              <p class="card-text"><%= fa_icon "briefcase", :class => 'fa-icon' %>
                <b> Company: </b><%= @job.company.name %><br><br><br>
                <u><b>Contact Information</b></u>
                <div><%= fa_icon "envelope", :class => 'fa-icon' %> <%= @job.email %></div><br>
                <div><%= fa_icon "phone", :class => 'fa-icon' %><%= @job.phone_number %></div></p>
              <% if current_user == @user%>
              <hr>
              <div class="row">
                <div class="col-xs-8">
                  <h3><%= link_to edit_job_path(@job) do %>
                      <i class="fa fa-edit" aria-hidden="true"></i><% end %></h3>
                </div>
                <div class="col-xs-4">
                  <h3><%= link_to job_path(@job), method: :delete,
                      data:{confirm: "Are you sure you want to delete this job post?"} do %>
                      <i class="fa fa-trash" aria-hidden="true"></i><% end %><h3>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        </div>
      <br/>
    </div>
  </section>
</div>
