<section>
  <div class="form-inline top well col-md-4 col-md-offset-4">
    <%= form_tag(search_company_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Company Name", :class=>"form-control search" %>
    <%= submit_tag "Find", :class=>"btn btn-info" %>
    <% end %><br>
    <%= button_to "Add Company", new_company_path, method: 'get', class: 'btn btn-primary' %>
  </div><br><br>
  <div class="well col-md-6 col-md-offset-3">
    <% if @companies.present? %><br><br>
      <% for company in @companies do %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <% if ! company.logo.blank? %>
                <%= image_tag company.logo, :width => 20   %>
              <% else %>
                <%= image_tag "briefcase.jpg", :width => 20 %><br><br>
              <% end %>
              <%= link_to company.name, company_path(company.id) %>
            </h3>
          </div>
          <div class="panel-body">
            <div><b>Description: </b><%= company.description %></div><br>
            <div class="row">
              <div class="col-md-3">
                <%= link_to "View", company_path(company.id)  , class: "btn btn-info" %>
              </div>
              <div class="col-md-3">
                <%= button_to "Post Job", new_company_job_path(company.id), method: 'get', class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>There are no companies containing the term(s) <%= params[:search] %>.</p>
    <% end %>
  </div>
</section>
