<section>
  <div id="company_search" class="top">
    <div class="container form-inline">
      <%= form_tag(search_company_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Company Name", :class=>"form-control search" %>
      <%= submit_tag "Find", :class=>"btn btn-info" %>
      <% end %><br>
      <%= button_to "Add Company", new_company_path, method: 'get', class: 'btn btn-primary' %>
      <% if @companies.present? %><br><br>
        <div id="companies_results">
          <% for company in @companies do %>
            <div class="row">
              <div class="col-md-8 col-md-offset-1">
                <div class="card">
                  <div class="card-block">
                    <%= image_tag "briefcase.jpg", :width => 40 %><br><br>
                    <p class="card-text">
                      <b><%= fa_icon "briefcase", :class => 'fa-icon' %> Company: <%= link_to company.name, company_path(company.id) %></b><br><br>
                      <div><b class="card-title">Description: </b><%= company.description %></div><br>
                    </p>
                    <div class="row">
                      <div class="col-md-3">
                        <%= link_to "View", company_path(company.id)  , class: "btn btn-info" %>
                      </div>
                      <div class="col-md-3">
                        <%= button_to "Post Job", new_company_job_path(company.id), method: 'get', class: 'btn btn-primary' %>
                      </div>
                    </div><hr/>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>There are no companies containing the term(s) <%= params[:search] %>.</p>
      <% end %>
    </div>
  </div>
</section>
