<!DOCTYPE html>
<html>
  <head>
    <title>Restart</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'restart-logo.ico' %>
    <!-- uploadcare scripts -->
    <script>
     UPLOADCARE_LOCALE = "en";
     UPLOADCARE_TABS = "file url facebook gdrive dropbox instagram evernote flickr skydrive";
     UPLOADCARE_PUBLIC_KEY = "84f7649b95991b60227d";
    </script>

    <!-- google-analytics script -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-74856060-2', 'auto');
      ga('send', 'pageview');
    </script>


    <script charset="utf-8" src="//ucarecdn.com/widget/2.5.5/uploadcare/uploadcare.full.min.js"></script>

  </head>
  <body>
    <%= render 'layouts/navbar' %>
    
    <%= yield %>

    <!-- <!%= render 'layouts/footer' %> -->
  </body>
</html>
