<!DOCTYPE html>
<html>
  <head>
    <title>Restart</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'restart-logo.ico' %>
    <!-- uploadcare scripts -->
    <script>
     UPLOADCARE_LOCALE = "en";
     UPLOADCARE_TABS = "file url facebook gdrive dropbox instagram evernote flickr skydrive";
     UPLOADCARE_PUBLIC_KEY = "84f7649b95991b60227d";
    </script>

    <script charset="utf-8" src="//ucarecdn.com/widget/2.5.5/uploadcare/uploadcare.full.min.js"></script>

  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <!-- flash notifications -->
    <div class="row pull-right flash">
      <% flash.each do |name, msg| %>
        <% if name == "notice"%>
          <strong id="flash-notice"> <%= name.capitalize %>: <%= msg %></strong>
        <% elsif name == "error" || name == "alert" %>
          <strong id="flash-error"> <%= name.capitalize %>: <%= msg %> </strong>
        <% end %>
      <% end %>
    </div>

    <%= yield %>

    <!-- <!%= render 'layouts/footer' %> -->
  </body>
</html>
